<section class="property-binding">

  <!--  PROPERTY BINDING  -->

  <!--

  <article>

    <h3>Interpolation/Interpolação</h3>
    <p> String renderizada com Interpolação: {{ url }} </p>
    <p> Resultado de 1 + 1 é: {{ 1 + 1}} </p>
    <p> O resultado de 1 + 1 não é {{ 1 + 1 + getValor() }}</p>
    <p> Curso angular e gosto do curso: {{ cursoAngular && getCurtirCurso() }}</p>

  </article>

-->

  <!--

  <article>

    <h3> Property Binding</h3>

    <img src="{{ urlImagem }}"> -->
  <!-- Utilizando interpolação -->
  <!--  <img [src]= " urlImagem ">   -->
  <!-- Utilizando PROPERTY BINDING -->
  <!--
  </article>

-->



  <!-- CLASS E STYLE BINDING  -->

  <!--

<article> 
  <h3> Class e Style Binding </h3>
  <div> 
    Selecione uma classe:
    <select #classe (change)="0">          -->
  <!-- Criando uma variável e escutando um evento com o change -->
  <!--  <option value="alert-success"> Sucesso </option>
      <option value="alert-info"> Info </option>
      <option value="alert-warning"> Warning </option>
      <option value="alert-danger"> Error </option>
    </select>

    <br><br>


    <div class="alert {{ classe.value }}" role="alert">
      Texto colorido conforme valor do combobox
    </div>


    <div class="alert" role="alert"
    [class.alert-success]="classe.value == 'alert-success'">
      Sucesso
    </div>
    <div class="alert" role="alert"
    [class.alert-info]="classe.value == 'alert-info'">
      Info
    </div>
    <div class="alert" role="alert"
    [class.alert-warning]="classe.value == 'alert-warning'">
      Warning
    </div>
    <div class="alert" role="alert"
    [class.alert-danger]="classe.value == 'alert-danger'">
      Error
    </div>

    <div class="alert alert-danger" role="alert"
      [style.display]="classe.value == 'alert-danger' ? 'block' : 'none'">
      Esse texto aparece só em casos de erro.
    </div>

  </div>  

  </article>

-->


  <!-- EVENT BINDING -->

  <section class="event-binding">

    <article>
      <h3> Event Binding </h3>

      <div>

      </div>
    </article>

    
  </section>


</section>